h2 {
    font-family: 'Gochi Hand', cursive;
}

h3, h4 {
    font-family: 'Montserrat', sans-serif;
}



.dish {
     
    display: flex;
    justify-content: space-between;

}

.pasta {
    width: 45%;
}

.sauce {
    width: 40%;

}